- title 'Выбор способа входа'

%article.page.card.auth
  - if @user.confirmed?
    %h1 Смена способа входа

    %p Войдите в Google и выберите другую учётную запись:

    .methods
      = render 'shared/signin_methods'

    %p
      Если у вас нет учётной записи у Google, то скажите программистам какой
      сервис вам нужно добавить.

  - else
    %h1 Выберите способ входа

    %p
      Сайт кафедры сам не проверяет* ваш логин и пароль,
      поэтому мы просим другие сервисы проверить вашу личность.

    %p
      Перейдите на сайт Google, он вас вернёт обратно и сайт кафедры запомнит
      вашу учётную запись:

    .methods
      = render 'shared/signin_methods'

    %p
      Если у вас нет учётной записи у Google, то скажите программистам какой
      сервис вам нужно добавить.

    .notes
      * — потому что мало кто может сделать такую проверку
      по-настоящему безопасной, да и вы всё равно будете использовать один пароль
      на множестве сайтов.

