%aside#controls.user.unhover{ class: yield(:controls_class) }
  .wrap
    .signed-in
      = form_tag session_path, method: :delete, role: 'exit' do
        = current_user.title
        = submit_tag '×', title: 'Выйти'

    = yield :controls
