%nav#menu
  %a.home( href="/" rel="home" )
    .hover
    .logo
    .magnified
    .sup Кафедра
    .sub РИС
  .center
    .full-name
      .department Кафедра «Распределённых интеллектуальных систем»
      .university
        Санкт-Петербургского Государственного Политехнического Университета
    %ul
      %li.join
        %a( href="/join/" )
          .hover
          .text Абитуриентам
      %li.study
        %a( href="/study/" )
          .hover
          .text Учёба
      %li.science
        %a( href="/science/" )
          .hover
          .text Наука
      %li.contacts
        %a( href="#contacts" )
          .hover
          .text Контакты
  .search
    %form( action="/search" method="get" role="search-key" )
      .icon
      %input( type="search" name="q" autocomplete="off" role="search" placeholder="Поиск" )
    
    .quick-search( role="quick-search-results" )
      .fix
      %ol
