#opensource
  %a.repository( href="https://github.com/spbstu-dis/dis.spbstu.ru" )
    .source
    .hider
    .corner
      .rotate
        .border open source
        .light
        .shadow

  .hack
    Исходники сайта открыты —
    хакай, изучай!

  %ul.technologies
    %li.html5
      .icon
      HTML5
    %li.rails
      .icon
      Ruby on Rails
    %li.mongodb
      .icon
      MongoDB
