%aside#controls.signin( role="show-signin" )
  .wrap
    .signin-form( role="signin-form" )
      - if flash[:wrong_user]
      - elsif flash[:wrong_auth]
      - else
        Редакция
      %a.go-button( href="/auth/google" )
        %span Войти через Google
        .crop
          .arrow
            %div
