- title 'Доступ запрещён'

%article.page.card
  %h1 Доступ запрещён
  %p
    Страница только для редакторов — войдите на сайт, если у вас есть доступ.
  %p
    Если у вас нет доступа, то изучайте
    %a( href="https://github.com/spbstu-dis/dis.spbstu.ru" ) код сайта
    в поисках уязвимостей.
