- title '404'

%article.page.card
  %h1 Страница не найдена
  %p
    В поисках пропавшей страницы можете посмотреть карту сайта внизу или
    воспользоваться поиском вверху.

- if signed_in?
  - content_for :controls do
    .page-controls
      - if @content
        = form_tag request.path + '/restore' do
          = shadowed_button('Восстановить', role: 'submit')
      - else
        = shadowed_button('Создать', href: edit_content_path(request.path))
