- title '404'

%article.page
  %h1 404
  Страница не найдена

- if signed_in?
  - content_for :controls do
    .page-controls
      - if @content
        = form_tag request.path + '/restore' do
          = shadowed_button('Восстановить', role: 'submit')
      - else
        = shadowed_button('Создать', href: edit_content_path(request.path))
