- content_for :title do
  404

%article.page
  %h1 404
  Страница не найдена

- if signed_in?
  - content_for :controls do
    .page-controls
      - if @content
        = form_tag request.path + '/restore' do
          .shadowed-button
            %a.styled-button( href="#" role="submit" )
              %span
                Восстановить
      - else
        .shadowed-button
          - url = ('/' == request.path) ? '/edit' : request.path + '/edit'
          %a.styled-button{ href: url }
            %span
              Создать
