@charset "UTF-8"

@import 'base'
@import 'common'

body
  +standard-font
  background: $body-color

#root
  width: $root-width
  margin: 0 auto
  position: relative
  z-index: 2

#subroot
  padding-top: 20px
  margin-bottom: 20px

#controls
  position: fixed
  left: 50%
  margin-left: $root-width / 2
  top: -$footer
  z-index: 1
  height: 100%
  width: 300px
  +box-sizing(border-box)
  padding: $footer 0 0 20px
  .wrap
    position: relative

::-moz-selection, ::selection
  background: complement($green)
  color: white

@import 'flash'
@import 'button'
@import 'signin'
@import 'menu'
@import 'article'
@import 'footer'
@import 'open_source'
