@import 'compass/css3'

@import 'common'

body
  font-family: 'PT Sans', sans-serif
  background: #f2f2f2

$root-width: 900px

#root
  width: $root-width
  margin: 0 auto
  position: relative

article.page
  padding: 18px 20px
  background: white
  +border-radius(2px)
  +box-shadow(rgba(0, 0, 0, 0.3) 0 1px 3px)
  z-index: 2

@import 'footer'

@import 'administration'
