article
  h1
    padding: 0 20px 10px 20px
    font-size: 25px
    .old
      float: right
      color: $red
      font-size: 15px
      margin-top: 10px
  .page
    padding: 18px 20px
    background: white
    +border-radius(2px)
    +shadow
