@mixin button-background($color, $angle: 270deg)
  background: $color
  +background(linear-gradient($angle, lighten($green, 4%), darken($color, 5%)))

.styled-button, .go-button
  display: inline-block
  text-decoration: none
  +button-background(lighten($green, 2%))
  font-size: 17px
  border-top: 1px solid lighten($green, 8%)
  border-bottom: 1px solid darken($green, 8%)
  +box-shadow(rgba(0, 0, 0, 0.4) 0 1px 6px)
  line-height: 1
  text-shadow: rgba(255, 255, 255, 0.4) 0 1px 2px
  +line-height(30px)
  &, &:visited
    color: black
  &:hover, &:focus
    outline: none
    +button-background(lighten($green, 6%))
    border-top-color: lighten($green, 10%)
    border-bottom-color: darken($green, 8%)
  &:active
    background: darken($green, 1%)
    +background(linear-gradient(darken($green, 2%), $green))
    border-top-color: $green
    border-bottom-color: darken($green, 2%)
    +box-shadow(rgba(0, 0, 0, 0.5) 0 0 1px)

.styled-button
  +border-radius(15px)
  padding: 0 15px

.go-button
  position: relative
  border-right: none
  padding: 0 5px 0 9px
  .crop
    position: absolute
    top: -1px
    left: 100%
    width: 17px
    height: 32px
    overflow: hidden
  .arrow
    position: absolute
    top: 4px
    left: -12px
    +rotate(-45deg)
    +button-background(lighten($green, 2%), -135deg)
    +box-shadow(rgba(0, 0, 0, 0.3) 0 1px 4px)
    width: 24px
    height: 24px
  &:hover, &:focus
    .arrow
      +button-background(lighten($green, 6%), -135deg)
  &:active
    .arrow
      background: darken($green, 1%)
      +background(-135deg, linear-gradient(darken($green, 2%), $green))
      +box-shadow(rgba(0, 0, 0, 0.5) 0 0 1px)
