.flash
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 50
  div
    position: relative
    width: $root-width - 50px
    margin: 0 auto
    line-height: 30px
    padding: 20px 25px
    +shadow
    +box-shadow(rgba(0, 0, 0, 0.5) 0 2px 7px)
    font-size: 20px
    text-align: center
    color: white
    text-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px
    font-weight: bold
    background-image: image-url("layout/alone/flash-pattern.png")
    border: 2px solid
    border-width: 0 2px 2px 2px
    opacity: 0.95
  &.notice
    div
      background-color: darken($green, 5%)
      border-color: darken($green, 7%)
  &.error, &.alert
    div
      background-color: darken($red, 5%)
      border-color: darken($red, 7%)

@media all and (transform-3d), all and (-webkit-transform-3d)
  .flash
    +perspective(2000px)
    div
      +backface-visibility(hidden)
