#opensource
  position: absolute
  top: 0
  right: 0
  z-index: 3
  .repository
    position: relative
    display: block
    width: 90px
    height: 90px
    text-decoration: none
    overflow: hidden
    +box-shadow(rgba(0, 0, 0, 0) 0 0 10)
    z-index: 3
    +transition(all, 100ms)
    &.bended
      +box-shadow(rgba(0, 0, 0, 0.2) 0 0 4px)
  .corner
    position: absolute
    top: -1px
    left: 0
    width: 100%
    height: 100%
    overflow: hidden
    border: 1px solid #d0d0d0
    border-width: 1px 1px 0 0
  .rotate
    position: relative
    height: 50%
    padding-bottom: 50%
    +rotate(45deg)
  .border, .light, .shadow
    background: $body-color
    position: absolute
    left: -20%
    width: 140%
    bottom: 50%
    padding: 55% 0 2px 0
    border-bottom: 1px dashed #999
    color: #888
    font-size: 12px
    text-align: center
    letter-spacing: 1px
  .light, .shadow
    display: none
    height: 70%
    padding: 0
  .source
    +image-size("opensource/source.png")
    background: image-url("opensource/source.png")
  .hider
    background: $body-color
    position: absolute
    top: 34%
    left: -54%
    width: 140%
    height: 100%
    +rotate(45deg)
    +box-shadow(black 0 0 7px)

#opensource.animated3d
  .repository
    +perspective(2000px)
  .light, .shadow
    display: block
    opacity: 0
  .light
    background: white
  .shadow
    background: black
  .border
    +backface-visibility(hidden)

#opensource .animated2d
  .corner
    +transition("left top", 400ms)
  &:hover .corner
    left: 40px
    top: -40px

#opensource .hack
  display: none
  position: absolute
  right: 90px
  top: 15px
  width: 100px
  padding: 10px 5px 10px 15px
  color: #555
  font-size: 13px
  opacity: 0
  +transition(opacity, 600ms)
  background: $body-color
  +background(linear-gradient(left, fade-out($body-color, 1), $body-color 5px, $body-color))
  &.show
    opacity: 1

#opensource .technologies
  display: none
  position: absolute
  left: -5px
  padding-top: 20px
  li
    width: 90px
    padding: 82px 0 20px 5px
    text-align: center
    position: relative
    font-weight: bold
    color: #888
    text-shadow: #ccc 1px 1px 0
    font-size: 13px
    opacity: 0
    background: $body-color
    +background(linear-gradient(left, fade-out($body-color, 1), $body-color 10px, $body-color))
    +transition(opacity, 400ms)
    &.show
      opacity: 1
  .icon
    position: absolute
    top: 0
    left: 10px
    width: 80px
    height: 80px
    opacity: 0.4
  .html5 .icon
    background: image-url("opensource/html5.png")
  .css3 .icon
    background: image-url("opensource/css3.png")
  .rails .icon
    background: image-url("opensource/rails.png")
  .mongodb .icon
    background: image-url("opensource/mongodb.png")
