@import 'compass/typography/text/nowrap'

#controls.signin
  +user-select(none)
  .signin-form
    position: absolute
    background: white
    +shadow
    width: 173px
    top: 117px
    left: -220px
    padding: 12px 0 52px 0
    +round
    font-size: 20px
    text-align: center
    display: none
    .go-button
      +nowrap
      position: absolute
      left: 8px
      bottom: 10px
