@charset "UTF-8"

@import 'base'

.shadowed-button
  display: inline-block
  position: relative
  +line-height(28px)
  border: 1px solid #d8d8d8
  color: #c8c8c8
  padding: 0 14px
  margin-bottom: 15px
  font-size: 17px
  text-align: center
  +border-radius(15px)
  .styled-button
    position: absolute
    top: -2px
    left: -1px
    +transition(opacity, 200ms)

#controls.user
  .signed-in
    position: absolute
    top: 25px
    +line-height(40px)
    font-size: 15px
    +transition(color, 200ms)
    input
      background: lighten($green, 2%)
      width: 22px
      height: 22px
      text-align: center
      border: none
      +border-radius(11px)
      +transition(opacity, 200ms)
      color: black
      padding: 0
      margin-left: 3px
      font-weight: bold
      text-shadow: rgba(255, 255, 255, 0.4) 0 1px 2px
      +shadow
      cursor: pointer
      &:hover
        background: lighten($green, 6%)
      &:active
        background: $green
        +box-shadow(rgba(0, 0, 0, 0) 0 0 0)

  .page-controls
    padding-top: 80px + $menu-height

  .delete-content
    .styled-button, .shadowed-button
      width: 72px

  .history
    margin-top: 9px
    h2
      margin-bottom: 14px
      padding-left: 18px
      +transition(color, 200ms)
    ol
      width: auto
      margin-left: -3px
      padding-bottom: 10px
    li
      width: auto
      font-size: 14px
      height: 0
      line-height: 22px
      position: relative
      padding-left: 21px
      +transition(height, 400ms)
      overflow: hidden
      &, &.current.last
        color: #999
        a
          color: black
          &:hover
            color: darken($green, 10%)
      &.current.last
        .number
          color: $green
      &.current
        height: 22px
        &, a, .number
          color: $red
        .number
          font-weight: bold
    &:hover li
      height: 22px
    .author
      font-size: 12px
      position: absolute
      width: 150px
      left: 151px
      top: 2px
    .number
      position: absolute
      top: 2px
      left: 0
      font-size: 10px
    a
      text-decoration: none
      &:hover
        text-decoration: underline

  .edit-content
    .cancel
      padding: 10px 0 0 18px
      a
        font-size: 15px
        color: #666
        +transition(color, 200ms)

#controls.user.unhover
  .signed-in
    color: #bfbfbf
    input
      opacity: 0
  .history
    h2
      color: #d8d8d8
    li
      a, .number, .author
        color: #ddd
    li.last
      a, .number, .author
        color: #bfbfbf
  .shadowed-button
    .styled-button
      opacity: 0
  .edit-content
    .cancel a
      color: #bfbfbf

article.edit-content
  textarea
    border: none
    background: transparent
    width: 100%
    height: 210px
    resize: none
    +standard-font
    &:focus
      outline: none

@import 'users'
